/*******************************************************************************
 * Singularity Grid Definitions which applicable to most, if not all, themes,
 * layouts and forms used by Dynamic Domain Designs.
 ******************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300);
@font-face {
  font-family: 'linecons';
  src: url("../fonts/linecons/linecons.eot");
  src: url("../fonts/linecons/linecons.eot?#iefix") format("embedded-opentype"), url("../fonts/linecons/linecons.woff") format("woff"), url("../fonts/linecons/linecons.ttf") format("truetype"), url("../fonts/linecons/linecons.svg#linecons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 13, ../sass/base/_fonts.scss */
.icon:before {
  font-family: 'linecons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  margin-right: 0.6em;
  -webkit-font-smoothing: antialiased; }

/* line 3, ../sass/base/_html.scss */
article.node--page {
  background-image: linear-gradient(to right, red 0%, red 6.38298%, #ff3f3f 6.38298%, #ff3f3f 8.51064%, red 8.51064%, red 14.89362%, #ff3f3f 14.89362%, #ff3f3f 17.02128%, red 17.02128%, red 23.40426%, #ff3f3f 23.40426%, #ff3f3f 25.53191%, red 25.53191%, red 31.91489%, #ff3f3f 31.91489%, #ff3f3f 34.04255%, red 34.04255%, red 40.42553%, #ff3f3f 40.42553%, #ff3f3f 42.55319%, red 42.55319%, red 48.93617%, #ff3f3f 48.93617%, #ff3f3f 51.06383%, red 51.06383%, red 57.44681%, #ff3f3f 57.44681%, #ff3f3f 59.57447%, red 59.57447%, red 65.95745%, #ff3f3f 65.95745%, #ff3f3f 68.08511%, red 68.08511%, red 74.46809%, #ff3f3f 74.46809%, #ff3f3f 76.59574%, red 76.59574%, red 82.97872%, #ff3f3f 82.97872%, #ff3f3f 85.10638%, red 85.10638%, red 91.48936%, #ff3f3f 91.48936%, #ff3f3f 93.61702%, red 93.61702%, red); }
  /* line 13, C:\Ruby193\lib\ruby\gems\1.9.1\gems\toolkit-2.6.0\stylesheets\toolkit\_clearfix.scss */
  article.node--page:after {
    content: "";
    display: table;
    clear: both; }

/* line 8, ../sass/base/_html.scss */
#page, .l-page {
  margin: 0 auto; }
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 8, ../sass/base/_html.scss */
    #page, .l-page {
      width: 992px; } }
  @media (min-width: 1201px) and (max-width: 1900px) {
    /* line 8, ../sass/base/_html.scss */
    #page, .l-page {
      width: 1201px; } }

/* line 17, ../sass/base/_html.scss */
body {
  color: black;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.125rem; }

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 24, ../sass/base/_html.scss */
  .l-region--sidebar-first {
    -sgs-span-settings: ("span": 3, "location": 10, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 27, ../sass/base/_html.scss */
  .node__content {
    -sgs-span-settings: ("span": 9, "location": 1, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; } }
@media (min-width: 1201px) and (max-width: 1900px) {
  /* line 32, ../sass/base/_html.scss */
  .l-region--sidebar-first {
    -sgs-span-settings: ("span": 3, "location": 1, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 35, ../sass/base/_html.scss */
  .node__content {
    -sgs-span-settings: ("span": 9, "location": 4, "grid": 12, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_typography.scss */
#mp-menu .fa:before,
#mp-menu .icon:before {
  color: black; }
/* line 6, ../sass/base/_typography.scss */
#mp-menu .fa:before {
  font-size: 28px;
  font-size: 1.75rem; }
/* line 9, ../sass/base/_typography.scss */
#mp-menu a {
  text-decoration: none;
  font-weight: lighter;
  color: black; }
/* line 14, ../sass/base/_typography.scss */
#mp-menu a:hover {
  color: yellow; }

/* line 1, ../sass/base/icons/_linecons.scss */
.icon-female:before {
  content: "\f182"; }

/* line 2, ../sass/base/icons/_linecons.scss */
.icon-male:before {
  content: "\f183"; }

/* line 3, ../sass/base/icons/_linecons.scss */
.icon-arrow-left:before {
  content: "\e032"; }

/* line 4, ../sass/base/icons/_linecons.scss */
.icon-arrow-left-2:before {
  content: "\e034"; }

/* line 5, ../sass/base/icons/_linecons.scss */
.icon-arrow-left-3:before {
  content: "\e036"; }

/* line 6, ../sass/base/icons/_linecons.scss */
.icon-arrow-left-4:before {
  content: "\e038"; }

/* line 7, ../sass/base/icons/_linecons.scss */
.icon-arrow-right:before {
  content: "\e035"; }

/* line 8, ../sass/base/icons/_linecons.scss */
.icon-arrow-right-2:before {
  content: "\e037"; }

/* line 9, ../sass/base/icons/_linecons.scss */
.icon-arrow-right-3:before {
  content: "\e039"; }

/* line 10, ../sass/base/icons/_linecons.scss */
.icon-arrow-right-4:before {
  content: "\e033"; }

/* line 11, ../sass/base/icons/_linecons.scss */
.icon-phone:before {
  content: "\e000"; }

/* line 12, ../sass/base/icons/_linecons.scss */
.icon-news:before {
  content: "\e001"; }

/* line 13, ../sass/base/icons/_linecons.scss */
.icon-photo:before {
  content: "\e002"; }

/* line 14, ../sass/base/icons/_linecons.scss */
.icon-shop:before {
  content: "\e003"; }

/* line 15, ../sass/base/icons/_linecons.scss */
.icon-wallet:before {
  content: "\e004"; }

/* line 16, ../sass/base/icons/_linecons.scss */
.icon-t-shirt:before {
  content: "\e005"; }

/* line 17, ../sass/base/icons/_linecons.scss */
.icon-heart:before {
  content: "\e006"; }

/* line 18, ../sass/base/icons/_linecons.scss */
.icon-cloud:before {
  content: "\e007"; }

/* line 19, ../sass/base/icons/_linecons.scss */
.icon-display:before {
  content: "\e008"; }

/* line 20, ../sass/base/icons/_linecons.scss */
.icon-diamond:before {
  content: "\e009"; }

/* line 21, ../sass/base/icons/_linecons.scss */
.icon-banknote:before {
  content: "\e00a"; }

/* line 22, ../sass/base/icons/_linecons.scss */
.icon-data:before {
  content: "\e00b"; }

/* line 23, ../sass/base/icons/_linecons.scss */
.icon-music:before {
  content: "\e00c"; }

/* line 24, ../sass/base/icons/_linecons.scss */
.icon-location:before {
  content: "\e00d"; }

/* line 25, ../sass/base/icons/_linecons.scss */
.icon-star:before {
  content: "\e00e"; }

/* line 26, ../sass/base/icons/_linecons.scss */
.icon-tv:before {
  content: "\e00f"; }

/* line 27, ../sass/base/icons/_linecons.scss */
.icon-eye:before {
  content: "\e010"; }

/* line 28, ../sass/base/icons/_linecons.scss */
.icon-megaphone:before {
  content: "\e011"; }

/* line 29, ../sass/base/icons/_linecons.scss */
.icon-study:before {
  content: "\e012"; }

/* line 30, ../sass/base/icons/_linecons.scss */
.icon-bubble:before {
  content: "\e013"; }

/* line 31, ../sass/base/icons/_linecons.scss */
.icon-sound:before {
  content: "\e014"; }

/* line 32, ../sass/base/icons/_linecons.scss */
.icon-video:before {
  content: "\e015"; }

/* line 33, ../sass/base/icons/_linecons.scss */
.icon-stack:before {
  content: "\e016"; }

/* line 34, ../sass/base/icons/_linecons.scss */
.icon-lab:before {
  content: "\e017"; }

/* line 35, ../sass/base/icons/_linecons.scss */
.icon-food:before {
  content: "\e018"; }

/* line 36, ../sass/base/icons/_linecons.scss */
.icon-cup:before {
  content: "\e019"; }

/* line 37, ../sass/base/icons/_linecons.scss */
.icon-trash:before {
  content: "\e01a"; }

/* line 38, ../sass/base/icons/_linecons.scss */
.icon-user:before {
  content: "\e01b"; }

/* line 39, ../sass/base/icons/_linecons.scss */
.icon-key:before {
  content: "\e01c"; }

/* line 40, ../sass/base/icons/_linecons.scss */
.icon-fire:before {
  content: "\e01d"; }

/* line 41, ../sass/base/icons/_linecons.scss */
.icon-clip:before {
  content: "\e01e"; }

/* line 42, ../sass/base/icons/_linecons.scss */
.icon-mail:before {
  content: "\e01f"; }

/* line 43, ../sass/base/icons/_linecons.scss */
.icon-search:before {
  content: "\e020"; }

/* line 44, ../sass/base/icons/_linecons.scss */
.icon-settings:before {
  content: "\e021"; }

/* line 45, ../sass/base/icons/_linecons.scss */
.icon-like:before {
  content: "\e022"; }

/* line 46, ../sass/base/icons/_linecons.scss */
.icon-calendar:before {
  content: "\e023"; }

/* line 47, ../sass/base/icons/_linecons.scss */
.icon-camera:before {
  content: "\e024"; }

/* line 48, ../sass/base/icons/_linecons.scss */
.icon-tag:before {
  content: "\e025"; }

/* line 49, ../sass/base/icons/_linecons.scss */
.icon-note:before {
  content: "\e026"; }

/* line 50, ../sass/base/icons/_linecons.scss */
.icon-clock:before {
  content: "\e027"; }

/* line 51, ../sass/base/icons/_linecons.scss */
.icon-lock:before {
  content: "\e028"; }

/* line 52, ../sass/base/icons/_linecons.scss */
.icon-vynil:before {
  content: "\e029"; }

/* line 53, ../sass/base/icons/_linecons.scss */
.icon-truck:before {
  content: "\e02a"; }

/* line 54, ../sass/base/icons/_linecons.scss */
.icon-paperplane:before {
  content: "\e02b"; }

/* line 55, ../sass/base/icons/_linecons.scss */
.icon-bulb:before {
  content: "\e02c"; }

/* line 56, ../sass/base/icons/_linecons.scss */
.icon-pen:before {
  content: "\e02d"; }

/* line 57, ../sass/base/icons/_linecons.scss */
.icon-params:before {
  content: "\e02e"; }

/* line 58, ../sass/base/icons/_linecons.scss */
.icon-world:before {
  content: "\e02f"; }

/* CSS mainly related to the Responsive CSS Menu module */
/* line 2, ../sass/components/_navigation.scss */
.sidr a {
  color: black; }

/*# sourceMappingURL=barebones.styles.css.map */
