//$main-menu-background: none repeat scroll 0% 0% #336CA6;
/*
 * colors for the site footers
*/
.l-footer {
  color: white;
  background-color: black;
  a {
    color: orange;
    text-decoration-style: none;
  }
}
