/*
 * SCSS specific to the various views used on the ABWA website
 */
.page-member-list {
  .breadcrumb {
    display: none;
  }
  .l-content {
    clear: both;
    width: 100%;
    padding: 0;
  }
  .pane-views-members-list-block-block {
    h2.pane-title {
      text-align: center;
    }
  }
  .view-members-list-block {
    .view-content table {
      margin: 0 auto;
//      @include breakpoint(max-width 650px) {
//        .views-field-field-mber-type-public-title {
//          display: none;
//        }
//      }
    }
    td, th {
      padding-left: 20px;
      padding-right: 20px;
      @include breakpoint(max-width 720px) {
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include breakpoint(max-width 580px) {
        font-size: 14px;
        padding-left: 05px;
        padding-right: 05px;
      }
    }
    ul.pager {
      list-style-type: none;
      margin-top: 20px;
      padding: 0;
      li {
        display: inline;
      }
    }
  }
}

