/*******************************************************************************
 * SCSS relating to the "featured-gallery" region and the images it contains.
 * The featured gallery region (l-gallery) for the layout falls between the
 * navigation and the featured article content regions.
 ******************************************************************************/
// turn on singularity debug so the grid can be displayed
@include sgs-change('debug', true);
.l-gallery .flexslider {
  max-width: 75%;
  margin: 10px auto;
  @include breakpoint($screen-XS, true) {
    max-width: 75%;
    margin: 10px auto;
  }
  @include breakpoint($screen-CL, true) {
    max-width: 75%;
    margin: 10px auto;
  }
  @include breakpoint($screen-SM, true) {
    max-width: 80%;
    margin: 10px auto;
  }
  @include breakpoint($screen-MD, true) {
    max-width: 80%;
    margin: 10px auto;
  }
  @include breakpoint($screen-LD, true) {
    max-width: 830px;
    margin: 10px auto;
  }
  @include breakpoint($screen-XL, true) {
    max-width: 830px;
    margin: 10px auto;
  }
}
