/*******************************************************************************
 * abwa-primary.layout.scss
 *
 * Styling of the "abwa-primary" layout demonstrating the golden rule and
 * asymmetric grids with Singularity (based on Omega Divine layout).
 ******************************************************************************/
/*******************************************************************************
 * Setup regions of the ABWA layout using display properties which are not
 * dependent on the current screen size or breakpoints
 ******************************************************************************/
/* line 32, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-page {
  width: 100%;
  max-width: 110em;
  margin: 0 auto;
  background-image: linear-gradient(to right, chocolate, chocolate 0%, #dd8e56 0%, #dd8e56 33.33333%); }

/* line 38, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-branding {
  text-align: center; }

/* line 41, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-main {
  *zoom: 1;
  margin-bottom: 20px;
  padding-top: 20px;
  clear: both; }
  /* line 38, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.1\stylesheets\compass\utilities\general\_clearfix.scss */
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

/* line 47, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-footer {
  clear: both;
  min-height: 50px; }

/*******************************************************************************
 * Setup regions of the ABWA layout using display properties for the tablet
 * portrait orientation device size.
 ******************************************************************************/
/* Header Area */
/* line 57, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-branding {
  -sgs-span-settings: ("span": 1, "location": 1, "grid": 25 15, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 61.98347%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 60, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-region--header {
  -sgs-span-settings: ("span": 1, "location": 2, "grid": 25 15, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 37.19008%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 63, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-region--navigation {
  clear: both; }

/* line 68, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-featured {
  min-height: 200px;
  overflow: hidden;
  background-image: linear-gradient(to right, #ffeac7, #ffeac7 0.30488%, Moccasin 0.30488%, Moccasin 24.69512%, #ffeac7 24.69512%, #ffeac7 25.30488%, Moccasin 25.30488%, Moccasin 49.69512%, #ffeac7 49.69512%, #ffeac7 50.30488%, Moccasin 50.30488%, Moccasin 74.69512%, #ffeac7 74.69512%, #ffeac7 75.30488%, Moccasin 75.30488%, Moccasin 99.69512%, #ffeac7 99.69512%, #ffeac7 100.0%); }
  /* line 75, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
  .l-featured [class*='l-region--feature'] {
    position: relative;
    float: left;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px; }
  /* line 83, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
  .l-featured .l-region--feature-first {
    -sgs-span-settings: ("span": 1, "location": 1, "grid": 4, "gutter": 0.025, "style": "split", "start row": true, "end row": false, "fixed gutter": false, "split gutter": 1, "gutter property": "margin", "options": ((null: null)));
    width: 24.39024%;
    float: left;
    margin-right: -100%;
    margin-left: 0.30488%;
    clear: none;
    background-image: linear-gradient(to right, #3f9f9f, #3f9f9f 0.30488%, Teal 0.30488%, Teal 24.69512%, #3f9f9f 24.69512%, #3f9f9f 25.30488%, Teal 25.30488%, Teal 49.69512%, #3f9f9f 49.69512%, #3f9f9f 50.30488%, Teal 50.30488%, Teal 74.69512%, #3f9f9f 74.69512%, #3f9f9f 75.30488%, Teal 75.30488%, Teal 99.69512%, #3f9f9f 99.69512%, #3f9f9f 100.0%); }
  /* line 87, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
  .l-featured .l-region--feature-second {
    -sgs-span-settings: ("span": 1, "location": 2, "grid": 4, "gutter": 0.025, "style": "split", "start row": false, "end row": false, "fixed gutter": false, "split gutter": 1, "gutter property": "margin", "options": ((null: null)));
    width: 24.39024%;
    float: left;
    margin-right: -100%;
    margin-left: 25.30488%;
    clear: none;
    background-image: linear-gradient(to right, #bb5f5f, #bb5f5f 0.30488%, Brown 0.30488%, Brown 24.69512%, #bb5f5f 24.69512%, #bb5f5f 25.30488%, Brown 25.30488%, Brown 49.69512%, #bb5f5f 49.69512%, #bb5f5f 50.30488%, Brown 50.30488%, Brown 74.69512%, #bb5f5f 74.69512%, #bb5f5f 75.30488%, Brown 75.30488%, Brown 99.69512%, #bb5f5f 99.69512%, #bb5f5f 100.0%); }
  /* line 91, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
  .l-featured .l-region--feature-third {
    -sgs-span-settings: ("span": 1, "location": 3, "grid": 4, "gutter": 0.025, "style": "split", "start row": false, "end row": false, "fixed gutter": false, "split gutter": 1, "gutter property": "margin", "options": ((null: null)));
    width: 24.39024%;
    float: left;
    margin-right: -100%;
    margin-left: 50.30488%;
    clear: none;
    background-image: linear-gradient(to right, #8e8e8e, #8e8e8e 0.30488%, DimGray 0.30488%, DimGray 24.69512%, #8e8e8e 24.69512%, #8e8e8e 25.30488%, DimGray 25.30488%, DimGray 49.69512%, #8e8e8e 49.69512%, #8e8e8e 50.30488%, DimGray 50.30488%, DimGray 74.69512%, #8e8e8e 74.69512%, #8e8e8e 75.30488%, DimGray 75.30488%, DimGray 99.69512%, #8e8e8e 99.69512%, #8e8e8e 100.0%); }
  /* line 95, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
  .l-featured .l-region--feature-forth {
    -sgs-span-settings: ("span": 1, "location": 4, "grid": 4, "gutter": 0.025, "style": "split", "start row": false, "end row": true, "fixed gutter": false, "split gutter": 1, "gutter property": "margin", "options": ((null: null)));
    width: 24.39024%;
    float: right;
    margin-left: 0;
    margin-right: 0.30488%;
    clear: none;
    background-image: linear-gradient(to right, #ff9f7b, #ff9f7b 0.30488%, Coral 0.30488%, Coral 24.69512%, #ff9f7b 24.69512%, #ff9f7b 25.30488%, Coral 25.30488%, Coral 49.69512%, #ff9f7b 49.69512%, #ff9f7b 50.30488%, Coral 50.30488%, Coral 74.69512%, #ff9f7b 74.69512%, #ff9f7b 75.30488%, Coral 75.30488%, Coral 99.69512%, #ff9f7b 99.69512%, #ff9f7b 100.0%); }

/* Content Area */
/* line 104, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-content {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 25 15, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 100.0%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* Sidebars */
/* line 111, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.has-one-sidebar .l-region--sidebar-first,
.has-one-sidebar .l-region--sidebar-second {
  -sgs-span-settings: ("span": 2, "location": 1, "grid": 25 15, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 100.0%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 117, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.has-two-sidebars .l-region--sidebar-first {
  -sgs-span-settings: ("span": 1, "location": 1, "grid": 25 15, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": (("clear": both)));
  width: 61.98347%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: both; }
/* line 120, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.has-two-sidebars .l-region--sidebar-second {
  -sgs-span-settings: ("span": 1, "location": 2, "grid": 25 15, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 37.19008%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*******************************************************************************
 * Setup regions of the ABWA layout using display properties for the desktop
 * device size.
 ******************************************************************************/
/* Header Area */
/* line 132, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-header {
  *zoom: 1; }
  /* line 38, C:\Ruby193\lib\ruby\gems\1.9.1\gems\compass-core-1.0.1\stylesheets\compass\utilities\general\_clearfix.scss */
  .l-header:after {
    content: "";
    display: table;
    clear: both; }

/* line 135, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-branding {
  -sgs-span-settings: ("span": 1, "location": 1, "grid": 25 15 9, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 50.33557%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  text-align: center; }

/* line 139, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-region--header {
  -sgs-span-settings: ("span": 2, "location": 2, "grid": 25 15 9, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 48.99329%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 142, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-region--navigation {
  clear: both; }

/* Content Area */
/* line 146, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.l-content {
  -sgs-span-settings: ("span": 1, "location": 1, "grid": 25 15 9, "gutter": 0.33333, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 50.33557%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  background: gray; }

/* Sidebars */
/* line 155, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.has-one-sidebar .l-region--sidebar-first,
.has-one-sidebar .l-region--sidebar-second {
  -sgs-span-settings: ("span": 2, "location": 2, "grid": 25 15 9, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 48.99329%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 161, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.has-two-sidebars .l-region--sidebar-first {
  -sgs-span-settings: ("span": 1, "location": 2, "grid": 25 15 9, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 30.20134%;
  float: left;
  margin-right: -100%;
  margin-left: 51.00671%;
  clear: none; }
/* line 164, ../../../sass/layouts/abwa-primary/abwa-primary.layout.scss */
.has-two-sidebars .l-region--sidebar-second {
  -sgs-span-settings: ("span": 1, "location": 3, "grid": 25 15 9, "gutter": 0.33333, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
  width: 18.12081%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*# sourceMappingURL=abwa-primary.layout.no-query.css.map */
